<app-navbar></app-navbar>
<div class="post-item flex justify-center items-center text-center mt-6">
  <div class="w-1/2 m-3 p-6 bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
    <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">{{ post.title }}</h5>
    <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">{{ post.author }}</p>
    <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">{{ post.date }}</p>
    <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">{{ post.content }}</p>
    <div class="flex space-x-2">
    </div>
  </div>
</div>

@for (review of reviews; track review) {
  @if (review != null ) {
    <div class="post-item flex justify-center items-center text-center mt-6">
      <div class="w-1/2 m-3 p-6 bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
        @if(review.approved){
          <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">Approved</p>
          <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">{{ review.description }}</p>
        } @else if(review.description != null && !review.approved) {
          <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">Rejected</p>
          <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">{{ review.description }}</p>
        } @else {
          <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">Not reviewed yet</p>
        }
        <div class="flex space-x-2">
        </div>
      </div>
    </div>
  } @else {
    <div class="post-item flex justify-center items-center text-center mt-6">
      <div class="w-1/2 m-3 p-6 bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
        <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">Not reviewed yet</p>
        <div class="flex space-x-2">
        </div>
      </div>
    </div>
  }
}


